body {
  font-family: "Montserrat";
  text-align: center;
}

/* headings */
.big-heading {
  font-family:"Montserrat-light";
  font-weight: 800;
  font-size: 2rem;
  padding:1em;
  text-align:center;
}
.sub-heading
{
  font-weight:600;
  font-family:'Montserrat';
}

.section-heading {

  font-size: 3rem;
  line-height: 1.5;
  font-family: "ubuntu";
  font-weight: 500;
  padding:1rem;

}






/* containers */
.container-fluid {
  padding: 3% 5%;
}

/* sections */
.first-section {
  background-color:#e93b81;

}

.second-section{
  background-color:#f7d9d9;

}
.third-section
{
  background-color:#e93b81;
  padding:2rem;
}
.fourth-section
{

background-color:#f7d9d9;
}
.fifth-section
{
  background-color:#e93b81;

}
.sixth-section
{
  background-color: #f7d9d9;
}
/*about me*/


/*naviagation bar*/
.navbar {
  padding: 0rem;

}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat-Light"
}
.navbar-logo
{
  border-radius: 100%;
  height:20%;
  width:20%;

}



/* title section */

.home
{
  font-family: "Montserrat-light";
  font-weight:700;
  font-size:40px;
}

.row
{
  margin:0px;
  padding:7% 20%;
}
/*.row{
  display:flex;
}
.row.col-md-6
{
  align-self: center;
}*/


/* title image */
.title-image {
  width:300px;
  height:350px;
border-radius:30px;
border-color:#e93b81 ;
border-width:thick;
border-style:solid;
  right:70%;
}

/*----about me---*/
.about-me
{
  font-family:'callibri-light';
  padding:1rem;
  font-size: 25px;
  color:#fff;
  text-align:center;
  line-height: 1.5;
}

/* Education */
#Education {
  background-color:#f7d9d9 ;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonials-icon {
  width: 10%;
  height:10%;
  border-radius: 100%;
  margin: 10px;
  align:center;
}
.edu
{
  padding-top: 1em;
  font-family: 'Montserrat-Light';

  font-size:20px;
}
#carouselExampleControls
{
  padding:1em;
}


/* Experience */



.project
{
  color:#fff;
  line-height:1.5;
  font-family: 'Montserrat-Light';
  font-weight: 400;
  font-size:25px;
  margin-top:1rem;
}
.Experience
{
  padding:2rem;
  font-family: 'Montserrat-light'

}


/* cta section */
#cta {
  text-align: center;
}

/* footer section */
.soc-icon {
  margin: 20px 10px;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
